<%= form_with(model: user, html: { class: "card" }) do |form| %> <% if
user.errors.any? %>
<div class="error-messages">
  <h2>
    <%= pluralize(user.errors.count, "error") %> prohibited this user from being
    saved:
  </h2>
  <ul>
    <% user.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field"><%= form.label :name %> <%= form.text_field :name %></div>

<div class="field"><%= form.label :email %> <%= form.text_field :email %></div>

<div class="field">
  <%= form.label :phone %> <%= form.text_field :phone, placeholder: "(xx)
  91234-5678" %>
</div>

<div class="field">
  <%= form.label :cpf %> <%= form.text_field :cpf, placeholder: "123.456.789-00"
  %>
</div>

<div class="field"><%= form.submit %></div>
<% end %>
