<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div class="center-text">
  <%= form_with(url: users_path, method: :get, local: true) do %> <%=
  text_field_tag :search, params[:search], placeholder: "Search Users" %> <%=
  submit_tag "Search" %> <% end %>
  <div>
    <br />

    <div class="center-text">
      <%= link_to "New user", new_user_path, class: "green-button" %>
    </div>

    <div>
      <% @users.each do |user| %> <%= render user %>
      <div class="center-text"><%= link_to "Show this user", user %></div>
      <% end %>
    </div>
    <div></div>
  </div>
</div>
