<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="center-text">
  <%= link_to "Edit this user", edit_user_path(@user) %>
  <br />
  <%= link_to "Back to users", users_path %>
  <br />
  <%= button_to "Destroy this user", @user, method: :delete, class: "red-button"
  %>
</div>
